.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 1.5rem;
}

.profile-picture{
     align-self: flex-start;
    

}
.profile-picture img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
    border: 4px solid #fff;
  
}

details{
    margin-top: 0.2rem;
}
summary{
    color: #f153c2;
    cursor: pointer;
    font-weight: 600;
}
summary:hover {
    color: #c03b98
}

.about-text {
    flex: 1;
    min-width: 280px;
}

.about-text h2 {
    color: #f153c2;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-text p {
    line-height: 1.7;
    font-size: 1.02rem;
}

.about-text a {
    color: #a67c52;
    font-weight: 600;
}


.timeline-wrapper{
    width: 100%;
    display: flex;
    padding: 2rem 8% 2rem;
}

.timeline-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
    max-width: 1100px;
    width: 100%
}

.timeline-col .heading{
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.timeline-col .heading i{
    margin-right: 10px;
    color: #f153c2;
}
.content-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.2rem 1.5rem;
    margin: 0 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
   transition: transform 0.4s ease,
                box-shadow 0.4s ease,
                border-color 0.4s ease;
    border-left: 4px solid transparent;

}
.content-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15),
                0 0 20px rgba(224, 24, 148, 0.37);
    border-left-color: #f153c2;
}

/* Tablet */
@media (max-width: 1024px) {
    .profile-picture img {
        transform: translateY(-10px);
    }
    .timeline-row{
        gap: 2rem;
    }
    .timeline-col .heading{
        font-size: 2rem;
    }
    .content-box{
        margin: 0 1rem 1.5rem;
    }

}

/* Mobile */
@media (max-width: 768px) {
    .profile-picture img {
        width: 220px;
        height: 220px;
        transform: translateY(-30px);
    }
    .timeline-wrapper{
        padding: 2rem 1rem;
    }
    .timeline-row{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .timeline-col .heading{
        font-size: 1.8rem;
        text-align: center;
    }
    .content-box{
        margin: 0;
        padding: 1rem;
    }
    .content-box .h3{
        font-size: 1.4rem;
    }
    .content-box p{
        font-size: 0.95rem;
    }
}

/* Small phones */
@media (max-width: 480px) {

    .profile-picture img {
        width: 180px;
        height: 180px;
        transform: translateY(-40px);

    }
    .timeline-col .heading{
        font-size: 1.5rem;
    }
    .content-box {
        padding: 0.9rem;
    }
    .content-box h3{
        font-size: 1.2rem;
    }
    .date{
        font-size: 0.85rem;
    }

}