{% extends "navigationBar.html" %}

{% block title %} Home - My Profile {% endblock %}

{% block content %}

<div class="hero">
    <h1>Welcome to My Personal Website!</h1>
    <p>Hello! I'm Nombulelo, a Full-stack developer. This is my personal website where you can learn more about my work, interests, and projects. Explore my site to discover my journey, achievements, and what drives me.</p>
    <a href="{{ url_for('about') }}" class="btn btn-primary">Learn More About Me</a>
</div>

{% include "skills.html" %}

<div class = "contact-me form-wrapper">
<h3>Let's Connect</h3>
<p>
    Interested in collaborating, hiring me, or discussing a project?
    Click the button below to get in touch.
</p>

    <a type="submit" class="btn btn-primary" href = "https://docs.google.com/forms/d/e/1FAlpQLSee5wBGgYg583Y-L-86ZVNeHsSpBH7ohkgylKMKTK8EyvRajQ/viewform?usp=publish-editor">Contact Me</a>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
