

<!-- skills.html -->
 <div class="skills-section">

    <h2>My Skills</h2>

    <div id="skills-title" class="skills-title">
        Technical Skills
    </div>

    <div id="technical-skills">

        <div class="skill">
            <span>Powershell</span>
            <div class="progress">
                <div class="progress-bar" style="width:65%">65%</div>
            </div>
        </div>

        <div class="skill">
            <span>Active Directory</span>
            <div class="progress">
                <div class="progress-bar" style="width:60%">60%</div>
            </div>
        </div>

         <div class="skill">
            <span>Git/GitHub</span>
            <div class="progress">
                <div class="progress-bar" style="width:70%">70%</div>
            </div>
        </div>

          <div class="skill">
            <span>JavaScript</span>
            <div class="progress">
                <div class="progress-bar" style="width:75%">75%</div>
            </div>
        </div>

        <div class="skill">
            <span>HTML & CSS</span>
            <div class="progress">
                <div class="progress-bar" style="width:99%">99%</div>
            </div>
        </div>

        <div class="skill">
            <span>Python Flask</span>
            <div class="progress">
                <div class="progress-bar" style="width:75%">75%</div>
            </div>
        </div>

        <div class="skill">
            <span>SQL</span>
            <div class="progress">
                <div class="progress-bar" style="width:65%">65%</div>
            </div>
        </div>

    </div>

    <div id="soft-skills" style="display:none;">

        <div class="skill">
            <span>Communication</span>
            <div class="progress">
                <div class="progress-bar" style="width:90%">90%</div>
            </div>
        </div>

        <div class="skill">
            <span>Team collaboration</span>
            <div class="progress">
                <div class="progress-bar" style="width:85%">85%</div>
            </div>
        </div>

        <div class="skill">
            <span>Resilience</span>
            <div class="progress">
                <div class="progress-bar" style="width:99%">99%</div>
            </div>
        </div>
        <div class="skill">
            <span>Critical Thinking</span>
            <div class="progress">
                <div class="progress-bar" style="width:90%">90%</div>
            </div>
        </div>

        <div class="skill">
            <span>Time management</span>
            <div class="progress">
                <div class="progress-bar" style="width:88%">88%</div>
            </div>
        </div>

        <div class="skill">
            <span>Adaptability</span>
            <div class="progress">
                <div class="progress-bar" style="width:95%">95%</div>
            </div>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='javascript/skills.js')}}"> </script>


